.cards-1 {
	padding-top: 9.125rem;
	padding-bottom: 5.25rem;
	text-align: center;
}

.cards-1 .h2-heading {
	margin-bottom: 1.125rem;
}

.cards-1 .p-heading {
	margin-bottom: 4rem;
	text-align: center;
}

.cards-1 .card {
	margin-bottom: 4rem;
	border: none;
	border-radius: 6px;
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .card-icon {
	width: 90px;
	height: 90px;
	margin-right: auto;
	margin-bottom: 2rem;
	margin-left: auto;
	border-radius: 50%;
	background-color: var(--primeira);
	text-align: center;
}

.cards-1 .card-icon .fas {
	color: var(--decima-primeira);
	font-size: 2.125rem;
	line-height: 90px;
}

.cards-1 .card-title {
	margin-bottom: 0.625rem;
}