.basic-1 {
	padding-top: 6rem;
	padding-bottom: 5rem;
}

.basic-1 .image-container {
	margin-bottom: 4rem;
}

.basic-1 .image-container img {
	border-radius: 8px;
}

.basic-1 h2 {
	margin-bottom: 1.5rem;
}

h1.text-center {
	margin-bottom: 6rem;
}